h2 {
    font-family: $Playfair;
    font-size: 2rem;
    font-weight: $blackitalic;
    text-align: left;
}

.title {
    font-family: $Playfair;
    font-style: italic;
    font-style: $blackitalic;
}