main {
    @extend .title;
    background-image: url("../img/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10rem;
    color:$white;
    text-align: center;
    font-size: $xx-large;
}